DEEPSEEK_API_KEY=
DOUBAO_API_KEY=
DOUBAO_MODEL_ID=
BAILIAN_API_KEY=

ENABLE_TOOLS=true
TAVILY_API_KEY=
SERPAPI_API_KEY=

BAIDU_API_KEY=
BAIDU_SECRET_KEY=
BAIDU_CUID=aethervoice
BAIDU_ASR_RATE=16000
BAIDU_ASR_DEV_PID=1537
BAIDU_TTS_PER=0
BAIDU_TTS_SPD=5
BAIDU_TTS_PIT=5
BAIDU_TTS_VOL=5
